<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <h1>WELCOME TO OUR VIRTUAL LAB</h1>
    <a href="{% url 'app:register' %}">Create new account</a>
    <a href="{% url 'app:login' %}">Login</a>
    <form class="logout_form" action="{% url 'app:logout' %}" method="post">
      {% csrf_token %}
      <button type="submit">Logout</button>
    </form>
    <div class="wrapper">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
